# For Knowledge Base stuff
openai-whisper
langchain
chromadb
InstructorEmbedding
sentence-transformers

# GPT
faiss-cpu
huggingface_hub
transformers
protobuf
auto-gptq

llama-cpp-python
pdfminer.six
openpyxl

# Utility library
pathlib
urllib3
accelerate
bitsandbytes
click